<ion-header>

</ion-header>

<ion-content>
  <ion-grid class="cienh" no-margin no-padding>
    <ion-row class="cienh" no-margin no-padding>
      <ion-col class="fondo contenido" padding>
        <h3>AGILERP, Solucion Agil para administrar su negocio.<span> Gestione y administre</span> de manera rapida todas las operaciones de su empresa.</h3>
      </ion-col>
      <ion-col class="layout" padding margin-right>
        <ion-row>
          <ion-item class="margin-bottom-logo">
            <div class="logo"></div>
          </ion-item>
          <ion-item margin-top>
            <ion-label color="primary" stacked>Correo</ion-label>
            <ion-input color="primary" placeholder="correo@correo.com" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked>Password</ion-label>
            <ion-input placeholder="********" type="password"></ion-input>
          </ion-item>
          <div class="cien">
            <p>¿Olvidaste tu contraseña?</p>
          </div>
          <div class="cien">
            <button ion-button round item-right>Sign up</button>

          </div>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>