page-home {
    
    p{
        color: color($colors,secondary);
        text-align: right;
    }
    .fondo{
        background-image: url('../../assets/imgs/imgs\ \(2\).png');
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
        width: 100%;
        height: 100%;
        margin-left: -5px;
        h3{
            color:color($colors,light);
            text-align: right;
            margin-left:40px;
            margin-right:40px;
        }
        span{
            font-weight: bold;
        }
    }
    .contenido{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        background-image: url('../../assets/imgs/imgs\ \(1\).png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain; 
        width: 100%;
        height: 13vh;
    }
    .margin-bottom-logo{
        margin-bottom: 3vh;
    }
    .layout{
        height: 100%;
        width: 100%;
        max-width:360px;
        display: flex;
        align-items:center;

    }
    ion-item:nth-child(1){
        .item-inner {
            border-bottom:none !important;
        }
    }
    ion-item:nth-child(2),ion-item:nth-child(3){
        .item-inner {
            border-bottom:1px solid color($colors,primary) !important;
        }
    }
    .cien{
        width: 100%;
        display:flex;
        justify-content: flex-end;
    }
    .cienh{
        height: 100%;
    }

    @media screen and (max-width:420px) {

        .fondo{
            display:none;
        }
        
    }

}
